@import url('https://fonts.cdnfonts.com/css/arcade-classic');

*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
main {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: solid 4px black;

}
div {
    width: 10% ;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-bottom: -1px; 

}
article {
    width: 100%;
    display: flex;
    background-image: url(media/grass.png);
    margin-top: -2px;
    margin-bottom: -2px; 

}
.sol {
    background-image: url(media/sol.png);
}

button {
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
}
button:hover {
    background-color: beige;
}

.g {
    top: 400px;
    right: 270px;
}
.h {
    top: 340px;
    right: 170px;
}
.b {
    top: 460px;
    right: 170px;
}
.d {
    top: 400px;
    right: 70px;
}

p {
    top: 90vh;

    font-size: 50px;
    transition: 1;
    font-family: 'ArcadeClassic', sans-serif;
                                                
}

.ghost {
    font-size: 35px;
}
section {
    padding: 20px;
}

@media only screen and (max-width: 600px){
    main {
        width: 90%;
    
    }
}
    aside {
        padding-top: 10px;
    }